### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
**/.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
difusioIC.dSYM/Contents/Info.plist
difusioIC.dSYM/Contents/Resources/DWARF/difusioIC
difusioIC
a.out
difusioIC.exe

# Ejecutables
difusioIC
difusioLT
greedyIC
greedyLT
localSearchIC
localSearchLT
metaheuristicIC
metaheuristicLP
